[Unit]
Description=A Distributed, Highly Available, Datacenter-Aware Scheduler
Documentation=https://www.nomadproject.io/
After=network-online.target
Wants=network-online.target

[Service]
User=root
Group=nomad
EnvironmentFile=-/etc/sysconfig/nomad
ExecStart=/usr/bin/nomad $CMD_OPTS
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
